* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F0F4F8;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh;
    padding-top: 20px; 
}

header {
    background-color: #3498DB;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    color: white;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #2980B9;
}

.seccion-contenido {
    display: none;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.seccion-contenido h2 {
    color: #34495E;
    margin-bottom: 15px;
}

.seccion-contenido p {
    color: #7F8C8D;
    font-size: 16px;
}

#mi-fomulario{
    display: flex;
    flex-direction: column;
    position: fixed; /* Posicionarlo sobre todo el contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que se muestre por encima de otros elementos */
}
