/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F0F4F8;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh;
    padding-top: 20px; 
}

header {
    background-color: #3498DB;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    color: white;
    margin: 0;
}

/* Barra de navegación */
#contenerdor-barra-navegacion {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Botones de la navegación */
nav button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #2980B9;
}

/* Contenedor de búsqueda */
.search-container {
    position: relative;
    width: 30%;
}

#barra-buscador {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espacio extra a la izquierda para la lupa */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

/* Sección de contenido */
.seccion-contenido {
    display: block; /* Aseguramos que por defecto estas secciones estén visibles */
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.seccion-contenido h2 {
    color: #34495E;
    margin-bottom: 15px;
}

.seccion-contenido p {
    color: #7F8C8D;
    font-size: 16px;
}

/* Estilos para la tarjeta del cliente */
.tarjeta-cliente {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: none; /* Ocultamos la tarjeta por defecto */
}

.tarjeta-cliente h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 22px;
}

.tarjeta-cliente p {
    color: #7f8c8d;
    margin: 5px 0;
    font-size: 16px;
}

.tarjeta-cliente .dni {
    font-weight: bold;
    color: #2980b9;
}

/* Estilo para el fondo cuando la tarjeta está activa */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Estará oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
